@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
}
@media only screen and (min-width: 601px) {
  .navbar {
    display: none;
  }
}

.bottombar {
  display: flex;
  height: 60px;
  justify-content: center;
}
body {
  margin: 0px;
}
.menu-icons {
  font-size: 30px !important;
  margin-top: 12px;
  margin-right: 36px;
  margin-left: 28px;
}
/* :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-dark, :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-dark>.ant-menu{
  background-color: #433878 !important;
} */

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-dark,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-dark > .ant-menu {
  background-color: #433878 !important;
}
:where(.css-dev-only-do-not-override-ni1kz0).ant-layout-header {
  background-color: #433878 !important;
}
.ant-menu-dark,
.ant-menu-dark > .ant-menu {
  background-color: #433878 !important;
}
.ant-layout-header {
  background-color: #433878 !important;
}
